@import url('./font_style.css');

   .page__theme-dark {
    /* Colors */
    --color-black: black;
    --color-black-2: rgb(36, 36, 36);
    --color-blue: #007aff;
    --color-gray: rgb(61, 61, 61);
    --color-gray-2: gray;
    --color-gray-3: #ccc;
    --color-green: rgb(0, 181, 48);
    --color-orange: rgb(255, 192, 33);
    --color-orange-2: rgb(239, 181, 105);
    --color-orange-3: rgb(255, 206, 114);
    --color-red-2: #5d1b1b;
    --color-red-3: #ff2c56;
    --color-red-4: #ff8080;
    --color-red: rgb(243, 53, 53);
    --color-tomato: #d9534f;
    --color-violet: rgb(150, 42, 71);
    --color-white: white;
    --color-yellow: rgb(255, 192, 33);

    /* BG colors */
    --color-bg: var(--color-black-2);
    --color-bg-tags: var(--color-green);
    --color-bg-date: var(--color-orange);
    --color-bg-deadline: var(--color-red);
    --color-bg-quote: var(--color-gray);
    --color-bg-blockquote: var(--color-gray);
    --color-bg-button: var(--color-black-2);
    --color-bg-button_hover: var(--color-red);
    
    /* Text colors */
    --color-text: var(--color-orange);
    --color-text-list-item: var(--color-gray-2);
    --color-text-tags: var(--color-black);
    --color-text-date: var(--color-black);
    --color-text-deadline: var(--color-black);
    --color-text-link: var(--color-orange-3);
    --color-text-link_hover: var(--color-red-3);
    --color-text-link_visited: var(--color-red-4);
    --color-text-button: var(--color-orange); 
    --color-text-button_hover: var(--color-black); 
    
    /* Colors decorate */
    --color-accent: var(--color-orange);
    
    /* Items colors */
    --color-highlight: var(--color-violet);
    --color-check-list: var(--color-gray-3);
    --color-list-item_check: var(--color-gray-2);
    --color-list-item_done: var(--color-gray);
    --color-list-item-bg_done: var(transparent);
    --color-list-item_cancel: var(--color-red-2);
    --color-checkbox: var(--color-orange-2);
    --color-checkbox_hover: var(--color-tomato);
    --color-checkbox_cancel: var(--color-tomato);
    --color-checkbox-cross_cancel: var(--color-white);
    --color-checkbox_checked: var(--color-blue);
    --color-checkbox-done_checked: var(--color-white);
    
    /* Parametrs */
    --emoji-check-box: '🔳';
    --box-shadow: 1px 2px 4px var(--color-yellow);
  }