.page__theme-dark {
  --box-shadow: 1px 2px 4px var(--acent-color);

  --acent-color: rgb(255, 192, 33);
  --check-box-color: rgb(83, 83, 83);
  --check-box-emoji: '🔳';
  --check-list-color: gray;
  --color-bg: #121212;
  --color-bg-quote: rgb(93, 89, 89);
  --color-checkbox-cancel: #d9534f;
  --color-checkbox-checked: #007aff;
  --color-checkbox-hover: rgb(199, 195, 195);
  --color-container: #2a2a2a;
  --color-deadline: rgb(243, 53, 53);
  --color-highlight: rgb(150, 42, 71);
  --color-quote: rgb(239, 181, 105);
  --color-text: var(--acent-color);
  --color-text-dark: black;
  --color-text-date: rgb(233, 147, 0);
  --color-text-date-star: gold;
  --color-text-light: rgb(0, 0, 0);
  --color-text-tags: rgb(0, 197, 53);
  --link-color: rgb(255, 206, 114);
  --link-hover-color: #ff2c56;
  --link-visited-color: #ff8080;
}
