body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Avenir Next', 'Helvetica';
}

h1 {
  margin: 0;
  padding: 0 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--acent-color);
}

.container {
  overflow: hidden;
  box-sizing: border-box;
  max-width: 355px;
  margin: 15px auto;
  padding: 5px 0;
  background-color: var(--color-container);
  border-radius: 10px;
  border: 1px solid var(--acent-color);
  box-shadow: var(--box-shadow);
  word-wrap: break-word;
}

a {
  display: inline-block; 
  margin: 0; 
  padding: 0;
  transition: color 1s;
  color: var(--acent-color);
  border-bottom: 1px solid var(--acent-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

a:visited {
  color: var(--link-hover-color);
}

p {
  margin: 0;
  padding: 0 10px 10px;
  font-size: 1.4em;
}

p:last-of-type {
  padding-bottom: 0;
}
