   .page__theme-white {
    /* Colors */
    --color-black: black;
    --color-black-2: rgba(16, 14, 14, 0.5);
    --color-blue: #6159ff;
    --color-blue-2: #007aff;
    --color-blue-3: #849aff;
    --color-blue-4: #a0b2ff;
    --color-gray-2: #999;
    --color-gray-3: #ccc;
    --color-gray:  #666;
    --color-green: rgb(0, 202, 54);
    --color-orange: rgb(251, 173, 37);
    --color-red: rgb(250, 84, 84);
    --color-red-2: rgb(255, 219, 219);
    --color-white: white;
    --color-white-2: rgb(236, 236, 236);
    --color-yellow: rgb(247, 218, 113);

    /* BG colors */
    --color-bg: var(--color-white);
    --color-bg-tags: var(--color-green);
    --color-bg-date: var(--color-orange);
    --color-bg-deadline: var(--color-red);
    --color-bg-quote: var(--color-red-2);
    --color-bg-blockquote: var(--color-red-2);
    --color-bg-button: var(--color-white);
    --color-bg-button_hover: var(--color-red);
    
    /* Text colors */
    --color-text: var(--color-black);
    --color-text-list-item: var(--color-black);
    --color-text-tags: var(--color-white);
    --color-text-date: var(--color-white);
    --color-text-deadline: var(--color-white);
    --color-text-link: var(--color-blue-2);
    --color-text-link_hover: var(--color-blue-3);
    --color-text-link_visited: var(--color-blue-4);
    --color-text-button: var(--color-black); 
    --color-text-button_hover: var(--color-white); 
    
    /* Colors decorate */
    --color-accent: var(--color-black);
    
    /* Items colors */
    --color-highlight: var(--color-yellow);
    --color-check-list: var(--color-gray-2);
    --color-list-item_check: var(--color-gray-3);
    --color-list-item_done: var(--color-gray-2);
    --color-list-item-bg_done: var(--color-gray-3);
    --color-list-item_cancel: var(--color-red-2);
    --color-checkbox: var(--color-gray-3);
    --color-checkbox_hover: var(--color-gray);
    --color-checkbox_cancel: var(--color-red);
    --color-checkbox-cross_cancel: var(--color-white);
    --color-checkbox_checked: var(--color-blue-2);
    --color-checkbox-done_checked: var(--color-white);

    /* Parametrs */
    --emoji-check-box: '🔲';
    --box-shadow: 0px 2px 5px var(--color-black-2);
  }
  