.page__theme-dark {
  --box-shadow: 0px 3px 6px var(--acent-color);

  --acent-color: rgb(255, 183, 0);
  --color-bg: #121212;
  --color-container: #2a2a2a;
  --color-rating: rgb(255, 136, 0);
  --color-text: white;
  --link-hover-color: #ff1744;
}
