body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Avenir Next', 'Helvetica';
}

h1 {
  margin: 8px;
  padding: 0;
  font-size: 1.7em;
}

.container {
  overflow: hidden;
  box-sizing: border-box;
  max-width: 355px;
  margin: 15px auto;
  padding: 0 0 7px;
  background-color: var(--color-container);
  border-radius: 20px;
  border: 1px solid var(--acent-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  word-wrap: break-word;
}

img {
  box-sizing: border-box;
  width: 354px;
  border-radius: 19px 20px 45px 45px;
  border: 1px solid var(--acent-color);
  font-size: 0;
}

.kinopoisk-link {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.crop-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  overflow: hidden;
  width: 34px;
  border-radius: 5px;
  height: 34px;
}

.crop-icon__series {
  position: absolute;
  top: -14px;
  right: -25px;
  width: 84px;
  background-image: url('https://i.pinimg.com/736x/08/6b/d7/086bd7724f03d409877c88131503e4da.jpg');
  background-size: cover;
  height: 63px;
}

.things_link {
  transition: color 1s;
  color: var(--acent-color);
  text-decoration: none;
}

.things_link:hover {
  color: var(--link-hover-color);
}

.things_link:visited {
  color: var(--link-hover-color);
}

p {
  margin: 0;
  padding: 0 5px 10px;
  font-size: 17px;
}

.rating {
  color: var(--color-rating);
}

.border-top + .last-element:last-child {
  display: block;
  margin-top: -7px;
  padding: 4px 0 0;
  border-top: 2px solid var(--acent-color);
}
