html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: 'Avenir Next', 'Helvetica';
  background-color: var(--color-bg);
  color: var(--color-text);
}

.container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 94vw;
  min-width: 355px;
  max-width: 600px;
  margin: 0 auto 1.1em;
  padding: 0.8em 0 0.2em;
  border-radius: 20px;
  background-color: var(--color-container);
  box-shadow: var(--box-shadow);
  transition: padding-top 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
  .container,
  img {
    border: 1px solid var(--acent-color);
  }
}

@media (min-width: 400px) {
  .container {
    padding-top: 28px;
  }
}

img {
  box-sizing: border-box;
  width: 330px;
  font-size: 0;
  border-radius: 19px;
  box-shadow: var(--box-shadow);
}

.kinopoisk-link {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.crop-icon__series {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 35px;
  height: 35px;
  background-size: cover;
  animation: animatedBorder 2s infinite ease-in-out;
  filter: drop-shadow(2px 2px 0 #fff);

  mix-blend-mode: normal;
}

@keyframes animatedBorder {
  0% {
    filter: drop-shadow(1px 1px 1px #fff);
  }
  25% {
    filter: drop-shadow(2px 2px 2px #ff4081);
  }
  50% {
    filter: drop-shadow(3px 4px 4px #256dff);
  }
  75% {
    filter: drop-shadow(2px 2px 2px #e400c2);
  }
  100% {
    filter: drop-shadow(1px 1px 1px #fff);
  }
}

h1 {
  margin: 0.3em 0.4em;
  padding: 0;
  font-size: 1.7rem;
}

.things-link {
  color: var(--acent-color);
  transition: color 1s;
  text-decoration: none;
}

.things-link:hover {
  color: var(--link-hover-color);
}

.things-link:visited {
  color: var(--link-hover-color);
}

.genre {
  font-size: 1rem;
  opacity: 0.4;
}

p {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 0.4em 0.5em;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
  hyphens: auto;
}

.rating {
  font-size: 1.4rem;
  font-weight: 600;
  font-style: italic;
  color: var(--color-rating);
  opacity: 0.9;
}

.priority {
  margin: -5px auto -4px;
  font-size: 1.1rem;
  font-style: italic;
  opacity: 0.6;
}

.priority
+ .recomend:last-child {
  display: block;
  overflow: auto hidden;
  padding: 0;
  font-size: 1.1rem;
  font-style: italic;
  white-space: nowrap;
  opacity: 0.6;

  scrollbar-width: thin;
}

.recomend::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: -3px;
  border-top: 1px solid var(--acent-color);
  background: var(--acent-color);
}
