.page__theme-white {
  --box-shadow: 0px 3px 6px var(--acent-color);

  --acent-color: rgba(16, 14, 14, 0.8);
  --color-bg: #fff;
  --color-container: #f9f9f9;
  --color-rating: orangered;
  --color-text: black;
  --link-hover-color: #d94d1a;
}
